@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);

* {
  font-family: 'Raleway';
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  #tweet-quote{
    width:6rem;
  }
}

#new-quote:active{
  outline:none;
}

/* Quote fade out and fade in effect */
@keyframes text-fade{

    0% {
      opacity: 0;
    }

    50% {
      opacity: 0.5;
    }

    100% {
      opacity: 1;
    }

   
}


/* Main page background color transition effect*/
.bg-transition {
  transition: background-color 2s ease-in;
  
}


.quote-transition {
  animation: text-fade 2s ;
}




